@mixin crt-text-green() {
	color: var(--text-green);
	text-shadow: 0 0 1px color-mix(in srgb, var(--text-green) 80%, transparent),
	             0 0 3px color-mix(in srgb, var(--text-green) 60%, transparent),
	             0 0 7px color-mix(in srgb, var(--text-green) 30%, transparent),
	             0 0 15px color-mix(in srgb, var(--text-green) 20%, transparent),
	             0 0 25px color-mix(in srgb, var(--text-green) 10%, transparent);
	filter: blur(0.15px);
}

@mixin crt-text-orange() {
	color: var(--text-orange);
	text-shadow: 0 0 1px color-mix(in srgb, var(--text-orange) 85%, transparent),
	             0 0 3px color-mix(in srgb, var(--text-orange) 70%, transparent),
	             0 0 7px color-mix(in srgb, var(--text-orange) 40%, transparent),
	             0 0 15px color-mix(in srgb, var(--text-orange) 20%, transparent),
	             0 0 25px color-mix(in srgb, var(--text-orange) 10%, transparent);
	filter: blur(0.15px);
}

@mixin crt-boarder($color) {
	border: 2px solid $color;
	box-shadow: 0 0 2px color-mix(in srgb, $color 70%, transparent),
	            0 0 5px color-mix(in srgb, $color 50%, transparent),
	            0 0 10px color-mix(in srgb, $color 30%, transparent),
	            0 0 20px color-mix(in srgb, $color 10%, transparent);
}

/* Roboto Condensed */

@font-face {
	font-family: 'Roboto Condensed';
	src: local('Roboto Condensed'),
	local('Roboto Condensed Regular'),
	url('../fonts/roboto-condensed.regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: local('Roboto Condensed Bold'),
	url('../fonts/roboto-condensed.bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/* Roboto Mono */

@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono Regular'),
	url('../fonts/RobotoMono-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono Italic'),
	url('../fonts/RobotoMono-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono Bold'),
	url('../fonts/RobotoMono-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

:root {
	--main-color: #050505;
	--background-color: #050505;
	--text-orange: #ff5a00;
	--text-green: #80ffd5;
}

html {
	scrollbar-gutter: stable;
}

body {
	min-width: 280px;
	margin: 8px;
	font-family: "Roboto Mono", "Noto Sans Mono", monospace;
	background-color: var(--background-color);
}

main {
	box-sizing: border-box;
	width: min(100%, 1250px);
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	border-radius: 10px;
	background-color: var(--main-color);
	@include crt-text-orange();
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	width: min(100%, 1250px);
	margin-right: auto;
	margin-left: auto;
}

footer {
	bottom: 0;
	left: 0;
	width: fit-content;
	margin-top: 8px;
	margin-right: auto;
	margin-left: auto;
	padding: 0.5rem;
	text-align: center;
	border-radius: 10px;
	background-color: var(--main-color);
	@include crt-text-orange();
}

h1 {
	width: min(100%, 1250px);
	margin: auto;
	font-weight: 700;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	@include crt-text-green();
}

h1 a:link, h1 a:visited {
	text-decoration: inherit;
	color: inherit;
}

h2, h3 {
	font-weight: 700;
	@include crt-text-green();
}

h2 {
	font-size: 1.25em;
	text-transform: uppercase;
}

h3 {
	font-size: 1.125em;
}

hr {
	width: 100%;
	border: none;
	border-top: 2px dashed var(--text-orange);
	filter: blur(0.15px);
}

a:link, a:visited {
	@include crt-text-green();
}

pre {
	overflow: auto;
}

figure img {
	max-width: 100%;
	margin: 0 0 .5rem;
}

table {
	margin: auto;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid;
}

th, td {
	padding-right: 1rem;
	padding-left: 1rem;
}

/*cleaned up to here*/

footer p:first-child {
	margin-top: 0;
}

footer p:last-child {
	margin-bottom: 0;
}

.main-section {
	margin-bottom: 2rem;
 }

.indent-1 {
	margin-left: 1rem;
}

.indent-2 {
	margin-left: 2rem;
}

.nav-option {
	display: flex;
	flex-direction: column;
}

.inline-img {
	display: block;
	max-width: 90%;
	max-height: 400px;
	margin: .5rem auto;
}

.nav-btn {
	display: inline-block;
	padding: 4px 12px;
	text-decoration: none;
	inset: -1em;
	font-family: 'Roboto Condensed', sans-serif;
}

.nav-bar, .nav-bar-active {
	display: inline-block;
	height: 1px;
	padding: 1px;
	text-decoration: none;
	border-radius: 2px;
}

.nav-bar {
	border: 2px solid transparent;
}

.nav-bar-active, .nav-btn:hover + .nav-bar {
	color: var(--text-green);
	background: var(--text-green);
	@include crt-boarder(var(--text-green));
}

.project-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.project-img {
	align-content: center;
	align-items: center;
}

.project-img img {
	min-width: 90px;
	max-width: 90px
}

.project-description {
	flex-grow: 2;
}

.project-description p {
	margin-top: 0;
	margin-bottom: .5rem;
}

.project-description p:last-child {
	margin-bottom: 0;
}

.rss {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	margin-top: 0;
	margin-bottom: .5rem;
	gap: .5rem;
}

.rss img {
	display: inline;
	height: 1rem;
	margin: 0;
}

.blink {
	animation: blinker 1.25s step-start infinite;
}

#breadcrumbs {
	margin-bottom: 1rem;
	padding-top: 1rem;
}

#breadcrumbs a {
	text-decoration-line: none;
}

#site-header-text {
	margin: auto 0 auto 1rem;
}

#header-logo {
	width: 100px;
	height: 100px;
	margin: 0 1rem 0 0;
}

#nav-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	box-sizing: border-box;
	width: min(100%, 1250px);
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-left: .5rem;
	gap: 1rem;
}

@keyframes blinker {
	50% {
		opacity: 15%
	}
}

@media screen and (max-width: 750px) {
	body {
		margin: 1rem 1vw 1vw;
	}

	main {
		padding-right: 2vw;
		padding-left: 2vw;
	}

	header {
		flex-direction: column;
	}

	h1, h2, label {
		text-align: center;
	}

	footer {
		margin-top: 1vw;
	}

	#header-logo {
		margin: 0 auto;
	}

	#site-header-text {
		margin: auto auto .5rem;
	}

	#nav-header {
		justify-content: center;
		padding-left: 0;
	}
}

@media screen and (max-width: 500px) {
	.project-container {
		display: flex;
		flex-direction: row-reverse;
	}

	.project-img img {
		float: right;
	}
}