.work-item {
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid var(--text-orange);
    margin: .5rem 0;
}

.work-item-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
	gap: 1rem;
}

.work-description-wrapper {
    flex-grow: 2;
    width: 70%;
}

.work-image {
    max-height: 300px;
}

@media screen and (max-width: 600px) {
    .work-item-content {
        flex-direction: column;
		gap: 0;
    }

    .work-description-wrapper {
        width: 100%;
    }

    .work-image-wrapper {
        width: 100%;
    }

    .work-image {
		display: block;
        height: 300px;
		margin: auto;
    }
}